@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Outfit:wght@300;400;600&display=swap");

:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --gray: hsl(215, 32%, 27%);

  --body-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --white: hsl(0, 0%, 0%);

  --ff: "Outfit", "Helvetica", system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--ff);
}

body {
  position: relative;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
  padding: 1rem;
}

img {
  max-width: 100%;
}

.card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 350px;
  box-shadow: 0rem 0rem 2rem 0rem black;
}

/* Card Header Styling */
.card-head {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
}

.equilibrium {
  border-radius: inherit;
  z-index: 2;
  left: 0;
  top: 0;
}

.equilibrium:hover {
  z-index: 1;
}

.nft-open {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 10px;
  background-color: var(--cyan);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-open img {
  width: 25%;
  height: 25%;
  opacity: 1;
}

.nft-open:hover {
  z-index: 2;
  cursor: pointer;
  opacity: 0.85;
}

.card-head::after:hover {
  display: block;
  z-index: 2;
  cursor: pointer;
}

/* Card Body Styling */

.card-body {
  margin: 1rem auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid var(--gray);
}

.card-body *:not(.nft-name) {
  font-size: 16px;
}

.nft-name {
  color: white;
  font-weight: 600;
  flex-basis: 1;
  text-align: left;
  width: 100%;
}

.nft-name:hover {
  cursor: pointer;
  color: var(--cyan);
}

.nft-desc {
  color: var(--softblue);
  font-weight: 300;
  flex-basis: 1;
}

.price {
  color: var(--cyan);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.time {
  color: var(--softblue);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price,
.time {
  width: 50%;
  padding: 0;
  flex: 2;
}

.card-body img {
  padding: 0 0.5rem;
}

/* Card Footer Styling */

.card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.avatar {
  width: 32px;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 50%;
}

.attribution {
  color: var(--softblue);
  font-size: 16px;
}

.attribution a {
  all: unset;
  cursor: pointer;
  color: white;
}

.attribution a:hover,
.attribution a:active {
  color: var(--cyan);
}

#footer a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: white;
}

#footer {
  position: absolute;
  bottom: 1rem;
  width: 50%;
  left: 25%;
  font-size: 14px;
  text-align: center;
  color: white;
  z-index: -1;
}
